.dropdown{
  position: relative;
  display: inline-block;
  color: gray;
  font-size: 1.2rem;
}
.dropdown:hover{
  text-decoration: underline;
  cursor: pointer;
}
.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(84, 80, 80);;
}
.dropdown-content>a{
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
  color: white;
}

.dropdown-content>a:hover{
  background-color: rgb(173, 168, 161);
  
}
