.header__container{

}
.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__home{
  padding: 2rem 3rem;
}
.header__home > a>img{
  width: 150px;
}
.header__login{
  display: flex;
  align-items: center;
  padding: 0 4rem;
}
.header__login > a{
  text-decoration: none;
  
}
