.home__container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.home__wrapper{
  
}

.home__devider{
  /* border: 1px solid; */
  /* width: 1px; */
  /* height: 50rem; */
  background-color: black;
  width: 1px;
}
