.home__container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* .home__left{
   width: 20%;
}

.home__left-small{
  width: 100px;
} */
.home__wrapper{
  
}

.home__devider{
  background-color: black;
  width: 1px;
}
